@model SATProject.DATA.EF.Models.Enrollment

@{
    ViewData["Title"] = "Edit Enrollment";
}


@section css {
<!-- Custom styles for lists template -->
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/style-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/to-do.css">
}

<section class="wrapper">
   
<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentId" />
            <div class="form-group">
                Student
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Class
                <select asp-for="ScheduledClassId" class="form-control" asp-items="ViewBag.ScheduledClassId"></select>
                <span asp-validation-for="ScheduledClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Enrollments</a>
</div>

</section>

@section Scripts {
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="lib/tasks.js" type="text/javascript"></script>
<script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</script>
<script>
    jQuery(document).ready(function() {
      TaskList.initTaskWidget();
    });

    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });
</script>
}
